body {
    background-color: blanchedalmond;
}

table {
    width: 750px;
    height: 850px;
}

td {
    width: 50px;
    height: 50px;
    border: 3px solid black;
}

.one, .two, .four, .thirtyone, .ninetyone, .ninetythree, .ninetyfour, .onetwonine, .onetwoeight, .onefiveeight, .oneeightseven, .twooneseven {
    background-color: aliceblue;
}

.three, .thirtythree, .onefiveseven {
    background-color: rgb(247, 243, 22);
}

.thirtytwo, .onesixone {
    background-color: rgb(218, 7, 7);
}

.onetwoseven, .oneeighteight {
    background-color: rgb(20, 19, 19);
}

.onesixo {
    background-color: rgb(7, 7, 206);
}